html {
    min-width: 700px;;
}
#logo {
    width: 150px;
    height: 40px;

    /*margin: 10% auto 10% 33.3%; */
    margin: 20px 0px 0px 10px ;
}

main, header {
    white-space: nowrap;
    text-overflow: scroll;
    max-width: 1110px;
    margin: 0 auto;
}
 
h1 {
    font-size: 2em;
    font-weight: 900;
}

input {
    width: 200px
}