:root{
    --minWidth: 700;
}
html {
    min-width: 700;
}
#logo {
    width: 150px;
    height: 40px;

    /*margin: 10% auto 10% 33.3%; */
    margin: 20px 0px 0px 10px ;
}
/*
main, header {
    white-space: nowrap;
    text-overflow: scroll;
    max-width: 900px;
    margin: 0 33.3%;
}
    */
body {
    white-space: nowrap;
    text-overflow: scroll;
    max-width: clamp(100%, 90vw,900px);
    width: 100%;
    margin: 0 auto;
    min-width: fit-content;
    position: relative;
    background-color: lemonchiffon;
}

main{
    border: 3px solid yellow;
    border-radius: 20px;
    padding: 5px;
}

@media(min-width: 1000px)
{
    body{
        max-width: 900px;
        margin:0, auto;
    }
        
} 

h1 {
    font-size: 2em;
    font-weight: 900;
}

input {
    width: 200px
}

#results img{
    height: 200px;
    width: 200px;
}